body{
    background-color: black;
    margin: 0;
    background: url('./assets/wallpaper.png');
    background-size: cover;
}
.row{
    height: 20px;
}
div.row div{
    width: 20px;
    height: 20px;
    display: inline-block;
}
div .brick{
    background-color: blue;
}
div#score{
    border: 1px solid white;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
}
.coin{
    background:url(./assets/moving_coin.gif) no-repeat;
    background-size: cover;
    background-position: center;
}
#pacman{
    background: url(./assets/pacman.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position:absolute;
}
#pacman2{
    background: url(./assets/pacman2.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position:absolute;
}

div.bannana{
    background:url(./assets/bannana.gif) no-repeat;
    background-size: cover;
    background-position: center;
}
div.enemy{
    position:absolute;
    background:url(./assets/ghost_orange.gif) no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
}
div.die{
    background:url(./assets/die_animation.gif) no-repeat;
    background-size: cover;
    background-position: center;
}
div#messages{
    color: white;
}