*{
    margin: 20px;
}
#search{
    width: 120px;
    height: 30px;
    border-radius: 16px;
}
#plus{
    width: 50px;
    height: 50px;
    font-size: larger;
    color: white;
    border-radius: 50%;
    background-color: rgb(166, 166, 166);
}
#create{
    width: 150px;
    height: 30px;
    color: white;
    background-color: blue;
    border: 2px solid black;
    box-shadow: 10px 10px lightblue;
}